*{
    padding: 0;
    margin: 0;
}
body{
    display: grid;
    place-content: center;
    min-height: 100vh;
    font-family: "Outfit", serif;
    background-color: hsl(217, 54%, 11%);
}
body .container{
    background-color: hsl(216, 50%, 16%);
    width: 340px;
    height: 570px;
    display: grid;
    grid-template-rows: 55% 25% 10%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 37px 6px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 37px 6px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 37px 6px rgba(0, 0, 0, 0.3);
}
body .container .row1 img{
    margin: 20px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}


body .container .row2{
    margin: 20px;
    display: grid;
    grid-template-rows: 80% 40%;
}
body .container .row2 .text {
    display: grid;
    gap: 5px;
}
body .container .row2 .text h2{
    font-size: 18px;
    color: white;
}
body .container .row2 .text p{
    font-size: 16px;
    color: hsl(215, 51%, 70%);
}
body .container .row2 .row2-row1{
    display: grid;
    grid-template-columns: 70% 50%;
    margin-top: 20px;
}
body .container .row2 .row2-column2{
    display: grid;
    grid-template-columns: 15% 50%;
}
body .container .row2 .row2-column2 p{
    color: hsl(215, 51%, 70%);
    display: grid;
    margin-top: -2px;
}
body .container .row2 .row2-column1{
    display: grid;
    grid-template-columns: 7% 70%;
    color: aqua;
    font-weight: 600;
}

body .container .row3{
    margin: 20px;
    display: grid;
    grid-template-columns: 15% 70%;
    border-top: 0.1px hsl(215, 51%, 70%) solid;
    padding-top: 20px;
}
body .container .row3 img{
    width: 40px;
    height: 40px;
    border: 1px white solid;
    border-radius: 50px;
}
body .container .row3 p{
    color: white;
    display: grid;
    margin-top: 12px;
    grid-template-columns: 42% 50%;
    margin-left: 5px;
}
body .container .row3 p span{
    color: hsl(215, 51%, 70%);
}